In [1]:
nomClient1 = 'Georges Dupont'
nomClient2 = 'Luc Martin'
nomClient3 = 'Lucas Anderson'
nomClient4 = 'Alexandre Petit'
# etc...

In [2]:
nomClient = ['Georges Dupont', 'Luc Martin', 'Lucas Anderson', 'Alexandre Petit']

In [3]:
# assigner la valeur 'Georges Dupond' au premier nom dans notre liste
# c'est donc l'indice 0, car les indices commencent à 0 en python !
nomClient[0] = 'Georges Dupond'

In [4]:
print(nomClient[0])

Georges Dupond

In [5]:
# afficher le dernier élément
print(nomClient[-1])

# accéder du second élément au 4ème
print(nomClient[1:3])

# accéder à tous les éléments du début au 3ème
print(nomClient[:2])

Alexandre Petit
['Luc Martin', 'Lucas Anderson']
['Georges Dupond', 'Luc Martin']

In [6]:
montantCompte = [10000, 150, 300, 1800.74]

In [7]:
listeEtrange = [4, 10.2, "Georges Dupond", ["une autre liste", 1]]

# afficher le 4ème élément de la liste
print(listeEtrange[3])

['une autre liste', 1]

In [8]:
# TODO étape 1 - Déclarez une liste couleurs, contenant les 5 "couleurs" demandées
couleurs = ['rouge', 'jaune', 'orange', 'vert', 'bleu']
# TODO étape 2 - remplacez la couleur "vert", par "émeraude"
couleurs[3] = "emeraude"
# affichez le contenu de la liste
for couleur in couleurs :
    print(couleur)

rouge
jaune
orange
emeraude
bleu

In [9]:
liste = []
liste.append(7)
liste.append(5)
print(liste) # => [7, 5]

[7, 5]

In [12]:
liste = []
liste.append(7) # ajouter les éléments un à un -> [7] 
liste.append(5) # -> [7, 5]
liste.insert(1,12) # [7, 12, 5] # insérera l’entier 12 à l’indice 1, déplaçant l’ancien élément 1 à l’indice 2 et ainsi de suite
liste[0] = 4 # -> [4, 12, 5]
liste.remove(12) # [4, 5] # cherche l’élément donné dans la liste et supprime la première occurrence rencontrée
liste.index(5) # cette méthode permet de trouver l’indice de la première occurrence d’un élément à chercher dans notre liste -> affiche 1
liste.extend([1, 2, 3]) # [4, 5, 1, 2, 3] # similaire à append, mais avec une autre liste. D’une certaine façon, cela permet de concaténer plusieurs listes ensemble
del liste[3] # [4, 5, 1, 3] # pour supprimer un élément selon son indice

In [13]:
liste = [1, 2, 3]
len(liste) # affichera le nbr d'éléments présents dans la liste -> 3

3

In [14]:
# TODO étape 1 - Remplacez les ?? par le code adéquat pour créer une liste vide
invites = []
# TODO étape 2 - Ajoutez 3 invités à la liste: Joey, Martin et Marie
invites.extend(['Joey', 'Martin', 'Marie'])
# TODO étape 3 – Affichez la taille de la liste
len(invites)
# TODO étape 4 - Remplacez Martin par John dans la liste
invites[1] = 'John'
# TODO étape 5 - Supprimez Joey de la liste
invites.remove('Joey')
# affichez le contenu de la liste
for invite in invites :
	print(invite)

John
Marie

In [15]:
# dictionnaire
comptes = {"Georges Dupont": 10000, "Luc Martin": 150, "Lucas Anderson": 300, "Alexandre Petit": 1800.74}
print(comptes["Luc Martin"]) # -> 150

150

In [16]:
comptes['Georges Dupont'] -= 2000 # je soustrais 2000 au compte de Georges
comptes['Cyril Andreje'] = 1000 # j'ajoute un nouvel individu dans mon dictionnaire
print(comptes['Cyril Andreje']) # j'affiche la valeur du compte de Cyril

1000

In [17]:
comptes.pop('Luc Martin') # supprime Luc Martin de notre dictionnaire

150

In [18]:
len(comptes) # -> 3

4

In [1]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [2]:
squares[0]

1

In [3]:
squares[-1]

25

In [4]:
squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [5]:
squares + [36, 49, 64, 81, 100] # concatenation

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!

64

In [7]:
cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [8]:
cubes.append(216)  # add the cube of 6

In [9]:
cubes.append(7 ** 3)  # and the cube of 7

In [10]:
cubes

[1, 8, 27, 64, 125, 216, 343]

In [11]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [12]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [13]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [14]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [16]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [19]:
# lists containing other lists
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [20]:
x[0]

['a', 'b', 'c']

In [21]:
x[0][1]

'b'