In [1]:
# Tuple = immutable list         it uses () instead of []

In [2]:
eggs = ('hello', 42, 0.5)
eggs[0]

'hello'

In [4]:
eggs = ('hello', 42, 0.5)
eggs[1:3]

(42, 0.5)

In [8]:
# If you have only one value in your tuple,
# you can indicate this by placing a trailing comma after the value inside the parentheses
eggs = ('hello',)
type(eggs)

tuple

In [9]:
# Convert a list() in tuple()
tuple(['cat', 'dog', 5])

('cat', 'dog', 5)

In [10]:
# Convert a tuple() in list()
list(('cat', 'dog', 5))

['cat', 'dog', 5]